################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/env
/files/111.webp
/files/6HTMnLYqiGw.jpg
/files/among_quest.png
/files/among_us.jpeg
/files/audio1.m4a
/files/Audio2.MP3
/files/audio3.MP3
/files/Audio4.m4a
/files/audio_5.m4a
/files/audio_6.MP3
/files/audio_7.m4a
/files/audio_question.ogg
/files/baba_quest.jpg
/files/baba_yaga.jpg
/files/brawl_quest.jpg
/files/brawl_stars.jpg
/files/brawl_stars.mp4
/files/example_image.png
/files/gift_cupon.webp
/files/grinch_end.mp4
/files/grinch_middle.mp4
/files/grinch_start.mp4
/files/hello_dasha.ogg
/files/jibitz.jpg
/files/keyn.mp4
/files/konfeta.png
/files/koshey.webp
/files/koshey_quest.webp
/files/maincraft.mp4
/files/no.gif
/files/node_quest.mp4
/files/photozone.jpg
/files/photo_1.jfif
/files/photo_2.png
/files/photo_3.png
/files/photo_4.png
/files/photo_5.png
/files/photo_zone.jpeg
/files/pngwing.com.png
/files/qr.jpg
/files/redheadbrawl.mp4
/files/roblox.jpeg
/files/roblox.mp4
/files/roblox_end.mp4
/files/roblox_quest.jpg
/files/santa.webp
/files/santa_quest.jfif
/files/showman.png
/files/snowcat.jpg
/files/snowwoman.jpg
/files/start-quest.mp4
/files/start.mp4
/files/stickerpack.webp
/files/tokaboka.mp4
/files/video_rules.mp4
/files/who_you_champion.mp4
/handlers/__pycache__
/media/uploads
/__pycache__
/quest_kids.json
/secret.py
